/* App.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: #fff !important;
    margin-right: 10px;
}

.btn-signout {
    color: #fff;
}

/* Navbar.css */

.navbar-nav {
    margin-right: auto;
}

/* Create.css */

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 60%;
}

.form-label {
    font-weight: bold;
    margin-bottom: 12px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: green;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-submit:hover {
    background-color: darkgreen;
}
