/* Center the content */
#aboutpage {
    min-height: 80vh; /* Adjusted for better appearance */
  }
  
  .card {
    border: none; /* Remove card borders */
  }
  
  .card-title {
    color: #333; /* Adjust title color */
  }
  
  .card-body {
    padding: 20px; /* Add padding to card body */
  }
  
  .card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ensure images cover the entire space */
  }
  